<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>状態</th>
      <th>電話</th>
    </tr>
  </thead>
  <tbody>
    <% @employee.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.isFree ? "ヒマ" : "作業中" %></td>
        <td><%= e.telephon %></td>
      </tr>
    <% end %>
  </tbody>
</table>
