<div class="row">
  <div class="col-3">
    <div class="list-group">
      <% @fixtures.each do |f| %>
        <a href="#" class="list-group-item list-group-item-action"><%= f %></a>
      <% end %>
    </div>
  </div>
</div>
